.gallery {
  background-image: linear-gradient(to bottom, $second-bg-color, $main-bg-color);
  min-width: 280px;
  min-height: 122px;
  padding-bottom: 80px;

  @media screen and (min-width: 768px) {
    padding-bottom: 121px;
  }
}

.gallery__items {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(12, 1fr);

  row-gap: 2px;
  column-gap: 2px;
}
.gallery__item {
  display: block;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  transform: scale(0);
  transform: translateY(100%);
  opacity: 0;

  transition: all 0.8s ease 5s;

  &._active {
    transform: scale(1) translateX(0);
    transition: all 0.8s ease 0s;
    opacity: 1;
    &:nth-child(2n) {
      transition: all 0.8s ease 0.2s;
    }

    &:nth-child(2n + 1) {
      transition: all 0.8s ease 0.4s;
    }
    &:hover {
      transform: scale(1.1);
      box-shadow: 1px 2px 20px $main-hero-bg-color;
      z-index: 2;
      transition: transform 0.4s linear;
    }
  }
  &--cell1 {
    grid-column: 1 / 2;
    grid-row: 5 / 9;
  }
  &--cell2 {
    grid-column: 2/ 3;
    grid-row: 3 / 7;
  }
  &--cell3 {
    grid-column: 2 / 3;
    grid-row: 7 / 11;
  }
  &--cell4 {
    grid-column: 3 / 5;
    grid-row: 1 / 9;
  }
  &--cell5 {
    grid-column: 3 / 4;
    grid-row: 9 / 13;
  }
  &--cell6 {
    grid-column: 5 / 6;
    grid-row: 3 / 7;
  }
  &--cell7 {
    grid-column: 5 / 6;
    grid-row: 7 / 11;
  }
  &--cell8 {
    grid-column: 6 / 7;
    grid-row: 2 / 6;
  }
  &--cell9 {
    grid-column: 6 / 7;
    grid-row: 6 / 10;
  }
  &--cell10 {
    grid-column: 7 / 8;
    grid-row: 4 / 8;
  }
}
@media screen and (min-width: 768px) {
  .gallery__items {
    row-gap: 5px;
    column-gap: 5px;
  }
  .gallery__item {
    border-radius: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__item {
    border-radius: 20px;
  }
}
