html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  //Основные стили страницы
  .body{
      font-family: $main-font;
      letter-spacing: 0.04em;

      background-color: $main-bg-color;
      color: $main-text-color;
  }

  //Стили заголовков
  .title{
    font-family: $second-font;
  }

  .section__title{
      color: $text-title-color;
      line-height: 1.15;
      font-size: 34px;
      text-align: center;
      text-transform: uppercase;
      
      @media screen and (min-width: 768px){
        font-size: 48px;
      }

      @media screen and (min-width: 1280px) {
        font-size: 58px;
        line-height: 1.14;
      }
  }

  .section__label{
    color: $second-hero-bg-color;
    line-height: 1.17;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    
    @media screen and (min-width: 768px){
      font-size: 26px;
      line-height: 1.15;
    }

    @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: 1.13;
    }
  }

  //Стили контейнера
  .container{
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;

  
      @media screen and (min-width: 768px) {
        width: 768px;
        padding: 0 34px;
      }
  
      @media screen and (min-width: 1280px) {
        padding: 0 112px;  
        width:  1280px;
      }
  }


// Сбрасываем стили спискам
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }

  // Сбрасываем стили ссылкам
a {
    text-decoration: none;
  }

  //Сбрасываем паддинги и маржины абзацам и заголовкам
p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

  //Стандартный стиль для рисунков
  img {
    display: block;
    width: 100%;
    height: auto;
  }

  // Класс для скрытия контента
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  //Отключаем ресайз
textarea {
    resize: none;
  }

// Общий стиль для модального окна
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 5px 30px $main-hero-bg-color;
  border-radius: $hero-buttons-border;
  padding: 40px;
  text-align: center;

  @media screen and (max-width: 767px) {
    min-height: 609px;
    width: 90%;
  }

  @media screen and (min-width: 768px) {
    min-height: 609px;
    min-width: 450px;
  }

  @media screen and (min-width: 1200px) {
    height: 581px;
    width: 528px;
  }
}
