<section id="advantages" class="advantages">
    <div class="container">
    <h2 class="section__title section__title-advantages">Advantages</h2>
<ul class="advantages__list">
    <li class="advantages__item _anim-items  _anim-no-hide">
        <h3 class="advantages__title">7</h3>
        <p class="advantages__text">types of ice-cream products is manufactured by owr company</p>
    </li>
    <li class="advantages__item _anim-items _anim-no-hide advantages__item-second advantages__item--active">
        <h3 class="advantages__title">3</h3>
        <p class="advantages__text">SQF Level 3 - the industry`s highest achievable level of food safety and quality</p>
    </li>
    <li class="advantages__item _anim-items _anim-no-hide advantages__item-third advantages__item--active">
        <h3 class="advantages__title">11</h3>
        <p class="advantages__text">years of experience in ice-cream manufacturing</p>
    </li>
</ul>
</div>

</section>