<section class="contacts _anim-items _anim-no-hide" id="contacts">
  <div class="container">
    <h2 class="contacts__title visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item _anim-items _anim-no-hide">
        <p class="contacts__office">Cafe</p>
        <p class="contacts__city">Chicago</p>
        <p class="contacts__address">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="schedule">
          <ul class="schedule__list">
            <li class="schedule__item">
              <p class="schedule__days">Monday - Friday</p>
              <p class="schedule__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="schedule__item">
              <p class="schedule__days">Saturday - Sunday</p>
              <p class="schedule__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <ul class="address">
          <li class="address__item">
            <a class="address__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="address__item">
            <a class="address__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>

      <li class="contacts__item _anim-items _anim-no-hide">
        <p class="contacts__office contacts__office--green">Food Truck</p>
        <p class="contacts__city">Los Angeles</p>
        <p class="contacts__address">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="schedule">
          <ul class="schedule__list">
            <li class="schedule__item">
              <p class="schedule__days">Monday - Friday</p>
              <p class="schedule__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="schedule__item">
              <p class="schedule__days">Saturday - Sunday</p>
              <p class="schedule__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <ul class="address">
          <li class="address__item">
            <a class="address__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="address__item">
            <a class="address__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>

      <li class="contacts__item _anim-items _anim-no-hide">
        <p class="contacts__office">Cafe</p>
        <p class="contacts__city">New York</p>
        <p class="contacts__address">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="schedule">
          <ul class="schedule__list">
            <li class="schedule__item">
              <p class="schedule__days">Monday - Friday</p>
              <p class="schedule__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="schedule__item">
              <p class="schedule__days">Saturday - Sunday</p>
              <p class="schedule__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>
        <ul class="address">
          <li class="address__item">
            <a class="address__link" href="tel:+610383766284">+61(0) 383 766 284</a>
          </li>
          <li class="address__item">
            <a class="address__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>

    <div class="contacts-buttons__box">
      <ul class="contacts-buttons">
        <li class="contacts-buttons__item">
          <a href="https://goo.gl/maps/VNDFajdCuZzNYfbq8" target="_blank" class="contacts-buttons__primary">Our Locations
          </a>
          </li>
        <li class="contacts-buttons__item">
          <button class="contacts-buttons__secondary" type="button" data-modal-open-franchise>
            Franchise
          </button>
        </li>
      </ul>
    </div>
  </div>


  <!-- modal-window on button"Our Locations" -->
  <!-- <div class="backdrop backdrop--hidden" data-modal-locations>
    <div class="modal modal-locations">
      <button data-modal-close-locations class="modal-locations__btn">
        <svg class="modal-locations__icon-close">
          <use href="./images/icon-close-products.svg#icon-close-black-18dp-2-1-1-1"></use>
        </svg>
      </button>
   
      <iframe class="map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.5941837906466!2d30.520710515265165!3d50.448659195375726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce513ab320cf%3A0xb9fc242f88ad00e8!2z0JzQvtGA0L7Qt9C40LLQviBJY2UgQ3JlYW0!5e0!3m2!1sru!2sua!4v1631673028141!5m2!1sru!2sua"
        style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    
      
  </div> -->



  <!-- modal-window on button"Franchise" -->
  <div class="backdrop backdrop--hidden" data-modal-franchise>
    <div class="modal modal-franchise">
      <button data-modal-close-franchise class="modal-franchise__btn">
        <svg class="modal-franchise__icon-close">
          <use href="./images/icon-close-products.svg#icon-close-black-18dp-2-1-1-1"></use>
        </svg>
      </button>

      <form class="modal-window-form">
        <p class="modal-window-form__title">Please leave your contact information and we will get back to you</p>
        <div class="modal-form-field__inputs" role="group">
          <div class="form-field">
            <label>
              <span class="form-field__label">Name</span>
              <div class="form-field__input-block">
                <input class="form-field__input" type="text" name="name" />
              </div>
            </label>
          </div>
          <div class="form-field">
            <label>
              <span class="form-field__label">Telephone</span>
              <div class="form-field__input-block">
                <input class="form-field__input" type="tel" name="tel" />
              </div>
            </label>
          </div>
          <div class="form-field">
            <label>
              <span class="form-field__label">E-mail</span>
              <div class="form-field__input-block">
                <input class="form-field__input" type="email" name="email" />
              </div>
            </label>
          </div>
          <div class="form-field-txtarea">
            <label>
              <span class="form-field__label">Details</span>
              <textarea
                class="form-field-txtarea__input"
                name="details"
                placeholder="Your message..."
              ></textarea>
            </label>
          </div>
        </div>

        <button class="contacts-buttons__secondary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</section>
