<section class="gallery">
  <h2 class="visually-hidden">Gallery of Products</h2>
  <div class="container">
    <ul class="gallery__items">
      <li class="gallery__item gallery__item--cell1 _anim-items _anim-no-hide">
        <img
          class="gallery__image"
          srcset="
            ../src/images/gallery/gallery1.jpg    1x,
            ../src/images/gallery/gallery1_2x.jpg 2x,
            ../src/images/gallery/gallery1_3x.jpg 3x
          "
          src="../src/images/gallery/gallery1.jpg"
          alt="Фисташковое мороженое"
        />
      </li>
      <li class="gallery__item gallery__item--cell2 _anim-items _anim-no-hide">
        <img
          class="gallery__image"
          srcset="
            ../src/images/gallery/gallery2.jpg    1x,
            ../src/images/gallery/gallery2_2x.jpg 2x,
            ../src/images/gallery/gallery2_3x.jpg 3x
          "
          src="../src/images/gallery/gallery2.jpg"
          alt="Клубничное мороженое в рожке"
        />
      </li>
      <li class="gallery__item gallery__item--cell3 _anim-items _anim-no-hide">
        <img
          class="gallery__image"
          srcset="
            ../src/images/gallery/gallery3.jpg    1x,
            ../src/images/gallery/gallery3_2x.jpg 2x,
            ../src/images/gallery/gallery3_3x.jpg 3x
          "
          src="../src/images/gallery/gallery3.jpg"
          alt="Фруктовое мороженое на палочке"
        />
      </li>
      <li class="gallery__item gallery__item--cell4 _anim-items _anim-no-hide">
        <img
          class="gallery__image"
          srcset="
            ../src/images/gallery/gallery4.jpg    1x,
            ../src/images/gallery/gallery4_2x.jpg 2x,
            ../src/images/gallery/gallery4_3x.jpg 3x
          "
          src="../src/images/gallery/gallery4.jpg"
          alt="асорти из мороженого в рожке"
        />
      </li>
      <li class="gallery__item gallery__item--cell5 _anim-items _anim-no-hide">
        <img
          class="gallery__image"
          srcset="
            ../src/images/gallery/gallery5.jpg    1x,
            ../src/images/gallery/gallery5_2x.jpg 2x,
            ../src/images/gallery/gallery5_3x.jpg 3x
          "
          src="../src/images/gallery/gallery5.jpg"
          alt="Девушка ест мороженое"
        />
      </li>
      <li class="gallery__item gallery__item--cell6 _anim-items _anim-no-hide">
        <img
          class="gallery__image"
          srcset="
            ../src/images/gallery/gallery6.jpg    1x,
            ../src/images/gallery/gallery6_2x.jpg 2x,
            ../src/images/gallery/gallery6_3x.jpg 3x
          "
          src="../src/images/gallery/gallery6.jpg"
          alt="Мороженое с фруктами в креманке"
        />
      </li>
      <li class="gallery__item gallery__item--cell7 _anim-items _anim-no-hide">
        <img
          class="gallery__image"
          srcset="
            ../src/images/gallery/gallery7.jpg    1x,
            ../src/images/gallery/gallery7_2x.jpg 2x,
            ../src/images/gallery/gallery7_3x.jpg 3x
          "
          src="../src/images/gallery/gallery7.jpg"
          alt="Рожок с мороженым"
        />
      </li>
      <li class="gallery__item gallery__item--cell8 _anim-items _anim-no-hide">
        <img
          class="gallery__image"
          srcset="
            ../src/images/gallery/gallery8.jpg    1x,
            ../src/images/gallery/gallery8_2x.jpg 2x,
            ../src/images/gallery/gallery8_3x.jpg 3x
          "
          src="../src/images/gallery/gallery8.jpg"
          alt="Собака ест мороженое"
        />
      </li>
      <li class="gallery__item gallery__item--cell9 _anim-items _anim-no-hide">
        <img
          class="gallery__image"
          srcset="
            ../src/images/gallery/gallery9.jpg    1x,
            ../src/images/gallery/gallery9_2x.jpg 2x,
            ../src/images/gallery/gallery9_3x.jpg 3x
          "
          src="../src/images/gallery/gallery9.jpg"
          alt="Коктейль молочный с мороженым"
        />
      </li>
      <li class="gallery__item gallery__item--cell10 _anim-items _anim-no-hide">
        <img
          class="gallery__image"
          srcset="
            ../src/images/gallery/gallery10.jpg    1x,
            ../src/images/gallery/gallery10_2x.jpg 2x,
            ../src/images/gallery/gallery10_3x.jpg 3x
          "
          src="../src/images/gallery/gallery10.jpg"
          alt="пироженко с мороженым"
        />
      </li>
    </ul>
  </div>
</section>
