<section id="products" class="products _anim-items  _anim-no-hide">
    <div class="container">
        <p class="section__label products__label _anim-items  _anim-no-hide">100% natural</p>
        <h2 class="section__title products__title _anim-items  _anim-no-hide">products</h2>
        <ul class="products__list ">
            <li class="products__item products__item-icecream _anim-items  _anim-no-hide">
                <h3 class="products__name">ice cream</h3>
                    <svg class="products__icon">
                        <use href="./images/products.svg#icon-Group-4-1"></use>
                    </svg>
                <p class="products__info ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et. dolore magna
                        aliqua facilisis.</p>
                <button type="button" class="button__products" data-modal-open><img src="/images/button-products.png" alt="Кнопка «button»"></button>

            </li>
            <li class="products__item products__item-icecoffee _anim-items _anim-no-hide">
                <h3 class="products__name">ice coffee</h3>
                    <svg class="products__icon">
                        <use href="./images/products.svg#icon-Group-4-1"></use>
                    </svg>
                <p class="products__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et.
                        dolore magna
                        aliqua facilisis.</p>
                <button type="button" class="button__products button__products-icecoffee" data-modal-open-two><img src="/images/button-products.png" alt="Кнопка «button»"></button>
               
            </li>
            <li class="products__item products__item-milkshakes _anim-items  _anim-no-hide">
                <h3 class="products__name">milkshakes</h3>
                    <svg class="products__icon">
                        <use href="./images/products.svg#icon-Group-4-1"></use>
                    </svg>
                <p class="products__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et.
                        dolore magna
                        aliqua facilisis.</p>
                <button type="button" class="button__products button__products-milkshakes" data-modal-open-three><img src="/images/button-products.png" alt="Кнопка «button»"></button>
              
            </li>
        </ul>
    </div>
    <div class="backdrop backdrop--hidden" data-modal>
        <div class="modal modal__icecream">
            <img src="./images/icecream1.png" alt="Мороженое" class="modal__foto">
            <h3 class="products__name">Preparation</h3>
            <p class="products__info products__info-modal">
                In a small pot, simmer heavy cream, milk, sugar and salt until sugar completely dissolves, about 5 minutes.
                Remove pot from heat. In a separate bowl, whisk yolks. ... <br>
                Strain through a fine-mesh sieve into a bowl. Cool mixture to room temperature. Cover and chill at least 4
                hours or overnight.
            </p>
            <button data-modal-close class="modal__button-data">
                <svg class="modal__button-close">
                    <use href="./images/icon-close-products.svg#icon-close-black-18dp-2-1-1-1"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="backdrop backdrop--hidden" data-modal-two>
        <div class="modal modal__icecoffee">
            <img src="./images/icecoffee1.png" alt="Кофе со льдом" class="modal__foto">
            <h3 class="products__name">Preparation</h3>
            <p class="products__info products__info-modal">
                Combine sugar and 1 cup water in a medium saucepan over medium heat, stirring until the sugar has dissolved. Let cool
                completely and stir in vanilla extract; set aside in the refrigerator until ready to serve. <br>
                Serve coffee over ice with half and half and simple syrup, adding 1 teaspoon at a time, to taste.
            </p>
            <button data-modal-close-two class="modal__button-data">
                <svg class="modal__button-close">
                    <use href="./images/icon-close-products.svg#icon-close-black-18dp-2-1-1-1"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="backdrop backdrop--hidden" data-modal-three>
        <div class="modal modal__milkshakes">
            <img src="./images/milkshakes1.png" alt="Милкшейк" class="modal__foto">
            <h3 class="products__name">Preparation</h3>
            <p class="products__info products__info-modal">
                You only need two ingredients to make a great milkshake: ice cream and milk. One pint of ice cream will make two
                milkshakes. Stick to plain flavors that don’t have mix-ins. You’ll need 2/3 cup milk, which is enough to get things
                moving but doesn’t overwhelm the ice cream flavor. Whole milk makes the creamiest milkshakes!
            </p>
            <button data-modal-close-three class="modal__button-data">
                <svg class="modal__button-close">
                    <use href="./images/icon-close-products.svg#icon-close-black-18dp-2-1-1-1"></use>
                </svg>
            </button>
        </div>
    </div>
</section>